h3 {
    margin-top: 0px;
    padding-left: 10px;
}
.add_project{
    display: flex;
    flex-direction: row;
    background-color: rgb(158, 154, 154);
    border-radius: 20px;
    height: 4vh;
    box-sizing: border-box;
    margin:0 5px 0 5px;
    input{
        width: 70%;
        display: inline-block;
        height: 100%;
        background: none;
        border: none;
        border-radius: 20px;
        box-sizing: border-box;
        padding-left: 10px;
        
    }
    button{
        width: 30%;
        background-color: rgb(91, 92, 92);
        border-radius: 20px;
        border: none;
    }
    
}
ul{
    list-style: none;
    
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    li{
        border-radius: 10px;
        margin-bottom: 7px;
        height: 5vh;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 10px;
        background-color: rgba(95, 95, 95, 0.932);
    }
}