.home_container{
    display: flex;
    height: 96vh;
    flex-direction: row;
}
.home_left{
    background-color: lightblue;
    width: 15%;
    
    .home_buttons{
        display: flex;
        flex-direction: row;
        background-color: bisque;
        justify-content: space-between;
        height: 5%;
        button{
            width: 33%;
        }
    }


    .home_content{
        background-color: lime;
        height: 95%;
        box-sizing: border-box;
        app-projects, app-search, app-request{
            display: block;
            height: 100%;
            padding-top: 18.720px;
            
            background-color: rgb(255, 166, 0);
            box-sizing: border-box;
        }
    }

}
.home_right{
    background-color: lightgrey;
    width: 85%;
}
app-workspace{
    display: block;
    height: 100%;
}