<app-navbar></app-navbar>
<div class="home_container">

        <div class="home_left">
            <div class="home_buttons">
                <button (click)="active_btn = 'Projects'">Projects</button>
                <button (click)="active_btn = 'search'">Search</button>
                <button (click)="active_btn = 'req'">Request</button>
            </div>


            <div class="home_content">
            @if (active_btn==="Projects") {<app-projects></app-projects>}
            @if (active_btn==="search") {<app-search></app-search>}
            @if (active_btn==="req") {<app-request></app-request>}
            </div>
            
        </div>


        <div class="home_right">
            @if(CurrentProject() != false) {
                <app-workspace></app-workspace>
            }
        </div>
</div>
<app-task-modal></app-task-modal>