<input [(ngModel)]="input" type="text" placeholder="Search..." (keydown.enter)="Search()" />


<ul>
    @for (result of results; track result._id) {
        <li key="">
            <span>{{result.name}}</span>


            @if(result.is_frnd){
                <span>already frnd</span>
            }@else{
                <button (click)="SendRequest(result)">Send Request</button>
            }
        </li>
    }

    @if(results !=null && results.is_frnd){
        <span>already frnd</span>
    }@else{
        <button (click)="SendRequest(results)">Send Request</button>
    }
</ul>